DATABASE_URL="mongodb+srv://zainabilyas57_db_user:gDjBMw2ly8s2l5ue@znbcluster.9zksmic.mongodb.net/project2"
TMDB_BEARER="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwN2MxZDRhOTA3NGVhYzE3ODRiODZmZmI0ZmI1NTk0YiIsIm5iZiI6MTc2Mjg4NTkzOS42MzkwMDAyLCJzdWIiOiI2OTEzODEzMzI0MTgxNGQzZTk5YzQ3ODIiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.hgh0ukTNSC0RzjnlsZT8WhkwplAcA_ZVC2Y0PwRcxow"